<!DOCTYPE html>
<html>
<head>
    <title>Chrome Shortcut</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>content</th>
        <th>【Windows】</th>
        <th>【Mac】</th>
        <th>priority</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>sample</td>
        <td>sample</td>
        <td>sample</td>
        <td>1</td>
    </tr>
    </tbody>
</table>
</body>
</html>
